.methods-container {
  margin-top: 20px;
}

.onn{
  background-color: lightblue;
  font-size: large;
  font-weight: bold;
}

.onn:hover{
  background-color: lightgreen;
  color: #050ce5;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #050505;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

.methods-container th{
  background-color: rgb(131, 165, 245);
  color: rgb(5, 5, 5);
  font-size: large;
}

.methods-container th:hover,
.methods-container td:hover{
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}