.methods-container {
  margin-top: 20px;
}

.onn{
  background-color: lightblue;
  font-size: large;
  font-weight: bold;
}

.onn:hover{
  background-color: lightgreen;
  color: #050ce5;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #050505;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.methods-container th{
  background-color: rgb(59, 110, 228);
  color: white;
  font-size: large;
}