.user-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f8ff;
  }
  
  h1 {
    color: #007bff;
  }
  
.dashboard-table th{
  background-color: rgb(130, 217, 225);
}

  .calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .meeting-summary {
    background-color: rgba(0, 123, 255, 0.2);
    padding: 5px;
    border-radius: 5px;
  }
  
  .meeting-item {
    font-size: 12px;
    color: #333;
    margin-bottom: 10px;
    font-size: large;
  }
  
  .meeting-details {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  /* Highlight today's date */
.highlight-today {
  background-color: #91d5e7 !important; /* Light red background */
  color: #000; /* Black text */
  font-weight: bold; /* Bold font */
  /* border-radius: 50%; */
}

/* Meeting date styling (optional, if needed) */
.meeting-date {
  background-color: rgba(0, 123, 255, 0.2);
  border-radius: 5px;
  color: #333;
}

/* Default style for calendar tiles */
.react-calendar__tile {
  position: relative;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}


.react-calendar__tile:hover {
  transform: scale(1.1); /* Slight zoom effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  background-color: rgba(0, 123, 255, 0.1); /* Light blue background */
  cursor: pointer;
}

.react-calendar__tile.highlight-today:hover {
  background-color: #ffcccb; 
  box-shadow: 0 4px 12px rgba(255, 0, 0, 0.1); 
  transform: scale(1.2); 
  color: #000; 
}

.react-calendar__tile.meeting-date:hover {
  background-color: rgba(0, 255, 0, 0.2); 
  box-shadow: 0 4px 8px rgba(0, 255, 0, 0.3); 
  transform: scale(1.1); 
  color: #333; 
}

.popup-layover{
  position: fixed;
  top: 70px;
  left: 500px;
  width: 600px;
  border-radius: 20px;
  background: rgb(249, 247, 247);
  box-shadow: 10px 10px 90px rgba(0, 0, 0, 2);
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  align-items: center;
  z-index: 1000;
}

 